/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$link: #3f51b5;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #eee;}
app-login {
    height: 100%;
}
a {
    color: $link;
    cursor: pointer;
}
html::-webkit-scrollbar {
    display: none;
}
.full-width{
    width: 100%;
}