.popIcon.error{
        background-image: url('../../icons/warning_red.svg');
        width: 75px;
        height: 75px;
        background-position: center;
        background-size: cover;
        fill: #ff0d0d;
}
.close-popup{
    color: #ff1f1f;
    cursor: pointer;
}