<div class="dashboard" fxLayout="row" fxLayoutAlign="space-between">
  <p class="dash_header">Employee Details</p>
  <a class="add_employee" (click)="addEmployee()">
      <mat-icon>add</mat-icon>
      Add Employee
      </a>
</div>
<table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="employee_Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_Id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="employee_name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"><a title="view" (click)="viewEmployee(element)">{{element.employee_name}} </a></td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="employee_email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="employee_age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_age}} </td>
    </ng-container>

    <ng-container matColumnDef="employee_type">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_type}} </td>
    </ng-container>

    <ng-container matColumnDef="employee_dpt">
      <th mat-header-cell *matHeaderCellDef> Department </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_dpt}} </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="editEmployee(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteEmployee(element)">
          <mat-icon>delete_outline</mat-icon>
        </button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>