.appHeader {
    background-color: #fff;
    padding: 15px 20px;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #e8d9d3;
    .nav-link {
        text-decoration: none;
    }
}