<form fxFlex="100" *ngIf="isLogin" [formGroup]="loginform" novalidate autocomplete="off" class="loginform"
    (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" class="width50 formBg">
        <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input placeholder="Enter your username" type="text" matInput autocomplete="off" formControlName="userName">
            <mat-error *ngIf="isFieldValid('userName')">
                Please enter your Usrername
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input placeholder="Enter a Password" [type]="hide ? 'password' : 'text'" matInput autocomplete="off"
                formControlName="password">
            <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button> -->
            <mat-error *ngIf="isFieldValid('password')">
                Please enter the password
            </mat-error>
        </mat-form-field>
        <button [disabled]="!loginform.valid" mat-raised-button color="primary">Login</button>
    </div>
    <p class="new-user">New user <a (click)="register()">register here</a></p>
</form>
<form *ngIf="isRegister" [formGroup]="registerForm" novalidate autocomplete="off" class="loginform"
    (ngSubmit)="onRegister()" fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <div fxLayout="column" class="width50 formBg">
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input placeholder="Enter your name" type="text" matInput autocomplete="off" formControlName="name">
            <mat-error *ngIf="isFieldValidRegister('name')">
                Please enter your Usrername
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input placeholder="Enter a email" type="text" matInput autocomplete="off" formControlName="email">
            <mat-error *ngIf="isFieldValidRegister('email')">
                Please enter your email id
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input placeholder="Enter a Password" type="text" matInput autocomplete="off" formControlName="password">
            <mat-error *ngIf="isFieldValidRegister('password')">
                Please enter your password
            </mat-error>
        </mat-form-field>
        <button [disabled]="!registerForm.valid" mat-raised-button color="primary">Register</button>
    </div>
    <p class="new-user">Already have a account, <a (click)="login()">login</a></p>
</form>
<div class="width50" *ngIf="successScreen" fxLayoutAlign="center center">
    <p class="login-success">Successfully Registered click here to <a (click)="login()">login</a></p>
</div>